*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --color-pri: #f6d200;
    --color-grey: #ededed;
    --color-dark: #000;
    --color-white: #fff;
}

@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,300;0,400;0,700;0,800;1,300&display=swap');

body{
    background-color: var(--color-grey);
    color: var(--color-dark);
    line-height: 1.5;
    font-family: 'Asap', sans-serif;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

/* header css */
.header{
    background-color: var(--color-dark);
    color: var(--color-white);
    height: 400px;

}

.header h1{
    text-transform: uppercase;
}

.header p{
    font-style: italic;
    color: var(--color-pri);
}

.site-info{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar{
    border-color: var(--color-pri);
}

.navbar ul li a:link,
.navbar ul li a:visited{
  text-transform: capitalize;
  background-color: var(--color-pri);
  color: var(--color-dark);
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  display: block;
  transition: all .4s ease-in-out;
}

.navbar ul li a:hover,
.navbar ul li a:focus,
.navbar ul li a:active{
    background-color: var(--color-dark);
    color: var(--color-pri);
}

/* post section css*/

.content-area{
    flex-direction: column;
}

.main-content-area{
    border: 2px solid red;
}

.sidebar-section{
    border: 2px solid green;
}










@media all and (min-width: 1180px){
    .navbar ul{
        display: flex;
    }
    .navbar li{
        flex-grow: 1;
    }
    .content-area{
        flex-direction: row;
    }
    .main-content-area{
        flex: 1 0 0;  /* flex grow,shrink,basis */
    }
    .sidebar-section{
        flex: 0 0 400px;
    }
}